body {
    background: #212534;
}

.logo img {
    height: 50px;
    justify-content: center;
    margin-top: 20px;
}

.grids {
    display: grid;
    grid-template-columns: 80% 40%;
    align-self: start;
}

.grids ul{
  justify-content: start;
  margin-top:40px;
  margin-left: -40px;
}

.left
{
  position: relative;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  margin-left: 100px;

}

.right {
  margin-top: 70px;
  justify-self: end;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right img{
  height: 70vh;
  margin-left: -120px;
}

.mosaic1 {
  margin-top: -100px;
}

@media screen and (max-width: 500px) {

  .right {
    justify-self: end;
  }
  .right img {
    height: 55vh;
  }
}

@media screen and (max-width: 550px) {
    .grids {
      grid-template-columns: 1fr;
      margin-left: -70px;
    }
  }

.left h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.left h3
{
  margin-top: -40px;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {


    .left h2 {
        font-size: 3em;
        font-weight: 800;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;
    }

    .left h3
    {
    margin-top: -30px;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    }
}



.left p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

@media screen and (max-width: 550px) {
    .left p {
        font-size: 1em;
        color: #fff;
        font-weight: 400;
  }
}

/*Subscribe*/
.btn {
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #FEA400;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    
}

@media screen and (max-width: 550px) {
    .btn {
      justify-content: center;
    }
}

#modal {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #fff;
    width: 300px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    visibility: hidden;
}

.active {
    visibility: visible !important;
    top: 50% !important;
}

 .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .content img {
    max-width: 80px;
}

 .content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 20px 0 10px;
}

 .content p {
    text-align: center;
    font-size: 16px;
    color: #333;
}

 .content .inputBox {
    position: relative;
    width: 100;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .content .inputBox input {
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
}

 .content .inputBox input[type="submit"] {
    max-width: 150px;
    background: #FEA400;
    color: #fff;
    border: none;
}

.fa-close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #333;
    cursor: pointer;
}
.fa-envelope{
    font-size: 100px !important;
    color:  #FEA400;
}
 

.left span{
  color: rgb(224, 117, 28);
  animation: animate 1s ease-in-out infinite alternate;
  font-size: 1.3em;
}

@keyframes animate {
  0% {
    text-shadow: 0 0 20px rgb(224, 117, 28);
  }
  50% {
    text-shadow: 0 0 30px rgb(224, 117, 28),
                 0 0 10px rgb(224, 117, 28);
  }
  100% {
    color: rgb(224, 117, 28);
  }
}