<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anyytime Co.</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="homepage.css" type="text/css">
    <link rel="stylesheet" href="footer.css" type="text/css">
    <link rel="stylesheet" href="coming.css" type="text/css">

    <link rel="shortcut icon" type="image/jpg" href="logo.png">

    <script src="subscribe.js"></script>
    <script src="like.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="https://kit.fontawesome.com/023371aa5c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Neuton" rel="stylesheet" type="text/css">
</head>
<body>
            <div class="logo" data-aos="fade-down">
                <img src="logo2.png" alt="logo">
            </div>
            
            <div class="grids">
                <div class="left" data-aos="fade-right">
                    <h2>Spending Is </h2> 
                    <h3><span>Now</span> investing</h3>
                    <p>ITS NOT ABOUT FOOLING PEOPLE, ITS ABOUT CONVICING PEOPLE THAT YOU MUST HAVE IT EVEN IF YOU DON’T WANT IT”“IDEA IS TO REVOLUTIONIZE THE INVESTING AND MAKING PEOPLE UNDERSTAND POWER OF INVESTING”
                        “IT IS MORE THAN A SERVICE TO NATION BY BUILDING THE BACKBONE OF ECONOMY”
                        “SPENDING WILL BE NOW INVESTING</p>
                    <!--Subscribe-->
                    <a class="btn" onclick="modalToggle();">Subscribe Here</a>
                    <div id="modal">
                        <div class="content">
                            <i class="fa fa-envelope"></i>
                                <h2>Subscribe To Our Newsletter</h2>
                                <p>Get the latest updates for our product. </p>
                                <div class="inputBox">
                                    <form action="/subscribe" method = "post" >
                                        <input type="email" placeholder="Enter Your Email Id" name="sub" />
                                        <div class="inputBox">
                                            <input type="submit" value="Subscribe" class="btn">
                                        </div>
                                    </form>
                                </div>
                        </div>
                    <a class="fa fa-close" onclick="modalToggle();"></a>
                        

                </div>
                <ul class="social-icon">
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/AnyyTime-Co-100118815840918" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/AnyytimeCo" target="_blank">
                        <ion-icon name="logo-twitter"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/anyytime/" target="_blank">
                        <ion-icon name="logo-linkedin"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/anyytime.co/" target="_blank">
                        <ion-icon name="logo-instagram"></ion-icon>
                      </a></li>
                </ul>
                </div>
            
                <div class="right" data-aos="fade-left">
                    <div class="mosaic1">
                        <img src="mock2.png" alt="">
                    </div>
                    <div class="mosaic2">
                        <img src="mock1.png" alt="">
                    </div>
                </div>  
            </div>
            
            
            

        <p class="team" data-aos="zoom-in"><span>our team</span></p>
        <div class="team-work">
            <div class="container" data-aos="zoom-in">
                <div class="card">
                    <img src="profile2.png" alt="">
                    <h4>Tushar Kasaudhan</h4>
                    <p>CEO & Co-Founder</p>
                    <p class="p1">I am currently Second-year Computer Science Student pursuing Degree in BSc.(Hons.)Cloud Computing And Big Data at Reva University Bangalore. </p>
                    <div class="social">
                        <ul>
                            <li><a href="https://twitter.com/TusharK0305" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/tushar-kasaudhan/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://github.com/tushar0305" target="_blank"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="profile3.png" alt="">
                    <h4>Atharv Shukla</h4>
                    <p>CAO & Co-Founder</p>
                    <p class="p1">There's a plan in everything..and I love it when a plan comes together</p>
                    <div class="social">
                        <ul>
                            <li><a href="https://twitter.com/ATHARVS86015811" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/atharv-shukla-27606b1b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://github.com/Pixel-Bot-Tho" target="_blank"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <img src="profile1.png" alt="">
                    <h4>Mayukhdeep Mathur</h4>
                    <p>CTO & Co-Founder</p>
                    <p class="p1">I'm a junior from IN I'm an Engineer, I like building things, as in the coding version of building things. </p>
                    <div class="social">
                        <ul>
                            <li><a href="https://twitter.com/MayukhdeepM" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mayukhdeep-mathur/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://github.com/mayukhdeep12" target="_blank"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                    <div class="card">
                        <img src="profile4.png" alt="">
                        <h4>Prajwal Patil</h4>
                        <p>Junior CTO</p>
                        <p class="p1">I likes to use technology to solve problems and prepare for the future. My primary focus is to
                            improve my self and the community</p>
                        <div class="social">
                            <ul>
                                <li><a href="https://github.com/Gulbargaprajwal" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://www.linkedin.com/in/prajwal-m-patil-52310a1b5" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://github.com/Gulbargaprajwal" target="_blank"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                <div class="card">
                    <img src="profile5.png" alt="">
                        <h4>Vipul</h4>
                        <p>Marketing</p>
                        <p class="p1">I likes to use technology to solve problems and prepare for the future. My primary focus is to
                            improve my self and the community</p>
                        <div class="social">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>

        <div class="main" data-aos="fade-up">
            <h1>REVOLUTIONIZE THE INVESTING<div class="roller">
              <span id="rolltext">We<br/>
              Are<br/>
              Coming Soon<br/>
              <span id="spare-time">Product Loading...</span><br/>
              </div>
            </h1>
              
        </div>

        <!--Loading-->
        <div class="loader loader--style8" title="7">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
              </rect>
              <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
              </rect>
              <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
              </rect>
            </svg>
          </div>

        <!--Footer-->
        <footer class="footer" data-aos="zoom-in">
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
              <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/AnyyTime-Co-100118815840918" target="_blank">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/AnyytimeCo" target="_blank">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/anyytime/" target="_blank">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/anyytime.co/" target="_blank">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <p>2021 Anyytime Co. | All Rights Reserved</p>

          </footer>
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
          <script>
            AOS.init({
                duration: 800, 
                easing: 'ease',
                offset: 100,
            });
            </script>
</body>
</html>